<div class="min-h-screen flex  justify-center bg-mainBlue ">
  <div class="mt-5 mb-5 ml-2 mr-2  w-full max-w-6xl grid md:grid-cols-2 shadow-lg rounded-lg">


    <!-- Left side: Form -->
    <div class="p-8 bg-white border-r-3 border-solid border-mainBlue">
      <div>
        <img src="./Logo.png" class="w-32 mx-auto" />
      </div>
      <div class="mt-5 mb-5 flex justify-center">
        <h2 class="text-2xl font-bold ">Login</h2>
      </div>
      <form [formGroup]="loginForm" class="space-y-6">


        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" type="username" required>

        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <a class="group text-blue-400 transition-all duration-100 ease-in-out" href="#">
          <span
            class="bg-left-bottom bg-gradient-to-r text-sm from-blue-400 to-blue-400 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">
            Forget your password?
          </span>
        </a>

        <button (click)="onSubmit()" mat-raised-button color="primary" class="w-full"
          [disabled]="loginForm.invalid">Login</button>
      </form>
      <!-- Third Party Authentication Options -->
      <div id="third-party-auth" class="flex items-center justify-center mt-5 flex-wrap">
        <button (click)="onSocialLoginClick()" class="hover:scale-105 ease-in-out duration-300 shadow-lg p-2 rounded-lg m-1">
          <img class="max-w-[25px]" src="./google.png" alt="Google" />
        </button>
        <button href="#" class="hover:scale-105 ease-in-out duration-300 shadow-lg p-2 rounded-lg m-1">
          <img class="max-w-[25px]" src="./linkedin.png" alt="Linkedin" />
        </button>
        <button href="#" class="hover:scale-105 ease-in-out duration-300 shadow-lg p-2 rounded-lg m-1">
          <img class="max-w-[25px] filter dark:invert" src="./github.png" alt="Github" />
        </button>
        <button href="#" class="hover:scale-105 ease-in-out duration-300 shadow-lg p-2 rounded-lg m-1">
          <img class="max-w-[25px]" src="./facebook.png" alt="Facebook" />
        </button>
        <button href="#" class="hover:scale-105 ease-in-out duration-300 shadow-lg p-2 rounded-lg m-1">
          <img class="max-w-[25px] dark:gray-100" src="twitter.png" alt="twitter" />
        </button>

        <button href="#" class="hover:scale-105 ease-in-out duration-300 shadow-lg p-2 rounded-lg m-1">
          <img class="max-w-[25px]" src="apple.png" alt="apple" />
        </button>
      </div>

      <div class="text-gray-500 flex text-center flex-col mt-4 items-center text-sm">
        <p class="cursor-default">
          By signing in, you agree to our
          <a class="group text-blue-400 transition-all duration-100 ease-in-out" href="#">
            <span
              class="cursor-pointer bg-left-bottom bg-gradient-to-r from-blue-400 to-blue-400 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">
              Terms
            </span>
          </a>
          and
          <a class="group text-blue-400 transition-all duration-100 ease-in-out" href="#">
            <span
              class="cursor-pointer bg-left-bottom bg-gradient-to-r from-blue-400 to-blue-400 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">
              Privacy Policy
            </span>
          </a>
        </p>
      </div>
    </div>
    

    <!-- Right side: Picture -->
    <div class="bg-white hidden md:block p-8">
      <img src="./education.png" alt="Login Image" class="object-cover h-full w-full rounded-r-lg">
    </div>
  </div>
</div>